.cart-list-items {
    color: rgb(13, 86, 242);
    text-align: left;
}

.cart-title {
    font-size: 2.5rem !important;
}

.product-title {
    color: black;
    font-size: 1.2rem !important;
}

.btn-checkout {
    background-color: #23a702 !important;
    color: #d9e9e8;
    font-size: .875rem !important;
    text-transform: uppercase;
    align-items: center !important;
    padding: 0.75rem 1.5rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    margin: 0 auto !important;
}

.total-cost {
    font-size: 1.3rem !important;
    margin-right: 0.938rem;
    margin-bottom: 2rem !important;
}

.product-cart-image {
    width: 150px;
}

.remove {
    cursor: pointer;
}