    .hero-para {
        font-size: 1.5em;
        justify-content: center;
        text-align: center;
        /* border-style: solid;
        border-width: 1px; */
        padding-top: -11.5rem !important;
        margin-top: -2.438rem;
        padding-bottom: 1.5rem;
        /* background-color: rgb(173, 228, 191); */
        color: rgb(17, 16, 14);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
    }
    
    .hero-picture {
        background: url(../../public/images/food.jpg) no-repeat;
        border-radius: 1rem;
        box-shadow: 0px 0px 17px 0px black;
        background-size: cover;
        background-position: center;
        height: 60vh;
        min-width: 100%;
        overflow: none;
        position: relative;
    }
    
    .home-button {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .home-button .btn {
        background-color: #2392bce3;
        color: #d9e9e8;
        font-size: 2rem;
        padding: 1rem;
        box-shadow: 0px 0px 43px 12px rgb(218 145 145 / 89%);
        border-radius: 1rem !important;
    }