    .hero-para {
        font-size: 1.5em;
        justify-content: center;
        text-align: center;
        /* border-style: solid;
        border-width: 1px; */
        padding-top: -11.5rem !important;
        margin-top: 10px;
        padding-bottom: 1.5rem;
        /* background-color: rgb(173, 228, 191); */
        color: rgb(243, 167, 13);
    }
    
    .hero-picture {
        background: url(../../public/images/bowl.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
        min-width: 100%;
        overflow: none;
    }