.my-modal {
    position: fixed;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #49833b;
    text-align: center;
    height: fit-content;
    padding: 3rem;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 33px 8px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 33px 8px rgba(0, 0, 0, 0.65);
    display: none;
    z-index: 9999999999999999999;
    color: orange;
}

.view {
    display: block;
}

.button-container {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

.modal-title {
    color: orange;
}

.img-fluid,
.list-group {
    border: 2px solid black;
}

@media screen and (max-width: 992px) {
    .button-container {
        flex-direction: column;
    }
}

.list-group-item {
    background-color: #92cc84 !important;
}

.form-control {
    border: 1px solid black !important;
}

.btn.btn-dark {
    background-color: black;
    color: orange;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn.btn-dark:hover {
    background-color: orange;
    color: #598f1d;
    font-family: 'Roboto Condensed', sans-serif;
}