.nav-container {
    background: #598f1d;
}

.m-0 {
    color: orange;
    font-family: cursive;
}

.btn.btn-info {
    background-color: transparent;
}

.btn.btn-info:hover {
    color: orange;
}

.btn.btn-light {
    background-color: transparent
}